* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}
html {
    font-size: 62.5%;
    font-family: "Poppins";
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
}
/* common */
a {
    text-decoration: none;
}
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.btn {
    display: inline-block;
    min-width: 98px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1.8rem 1.6rem;
}
.btn:hover {
    opacity: 0.9;
}

/* HEADER */
.fix-header{
    background-color: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}
.header {
    position: relative;
    background-color: #e6f0ff;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    align-items: center;
    /* padding-top: 38px; */
    padding: 12px 0;

}
.navbar ul {
    display: flex;
    margin-left: 50px;
}
.navbar .sign {
    margin-left: auto;
}
.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 1.4rem;
}
.navbar ul a:hover {
    text-decoration: underline;
}
.navbar .sign-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}
.navbar .sign-btn {
    padding: 1.3rem 1.6rem;
    margin-left: 1.8rem;
    border-radius: 8px;
}
.hero {
    margin-top: 130px;
}
.hero .info {
    width: 51%;
}
.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.018rem;
}
.hero .title {
    color: #000336;
    font-size: 7.4rem;
    font-weight: 700;
    line-height: 7.6rem; /* 118.75% */
}
.hero .desc {
    color: #5a6473;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* text-transform: lowercase; */
    margin-top: 40px;
    margin-bottom: 30px;
}
.hero-cta {
    min-width: 170px;
}
.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}
/* =============clients============= */
.clients {
    margin-top: 122px;
}
.clients .row {
    display: flex;
    justify-content: space-between;
    /* margin-top: 23px; */
}
.row .decs {
    color: #7d8589;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}
.clients .row-decs {
    margin-top: 23px;
}
.clients .images {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 96px;
    
    /* width: 100%; */
}
.clients .images a:hover{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
.clients .images a{
   display: flex;
   padding: 0px 42px;
   height: 90px;
   align-items: center;
 

    
}
/* guides */
.guides {
    margin-top: 150px;
}
.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-family: Poppins;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.guides .sub-title::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.guides .desc {
    width: 459px;
    max-width: 100%;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
    color: #5a6473;
    margin: 20px auto 0;
    text-align: center;
}
.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.guide-item {
    margin: 0 70px;
    text-align: center;
}
.guide-item .title {
    color: #3b3c45;
    margin-top: 26%;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}
.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    text-align: center;
    font-size: 1.4em;
    font-style: normal;
    font-weight: 600;
}
.guide-item .arow-right {
    margin-left: 6px;
}
.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.guide-cta .btn {
    min-width: 170px;
}
/* featured */
.featured {
    margin-top: 120px;
    background-color: #f5fafe;
    padding: 110px 0;
}
.featured .sub-title {
    margin-top: 32px;
    color: #000339;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px; /* 100% */
}
.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.featured .decs {
    color: #5a6473;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}
.featured .link {
    color: #0689ff;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}
.featured .link {
    display: flex;
    align-content: center;
}
.featured .link .arrow {
    margin-left: 8px;
}
.featured .list {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}
.featured .item {
    flex: 1;
    background-color: #fff;
    border-radius: 12px;
}
.featured .list .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.featured .item .body {
    padding: 17px 20px 24px;
}
.featured .item .title {
    color: #000339;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.featured .item .desc {
    margin-top: 11px;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: -webkit-box;
}
.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 22px;
    color: #4d4d52;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.14px;
}
.featured .item .label {
    margin-left: 8px;
}
.featured .item .icon {
    margin-left: 23px;
}
.featured .item .icon:first-child {
    margin-left: 0;
}
.stats {
    margin-top: 75px;
    padding: 50px 0;
}
.stats .content {
    width: 1048px;
}
.stats .row {
    display: flex;
}
.stats .img-block,
.stats .info {
    width: 50%;
}
.stats .img-block {
    position: relative;
}
.stats .info {
    padding: 79px 0 0 165px;
}
.stats .stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 22px 40px;
    border-radius: 0 0 12px 12px;
    background-color: #ffffff;
}
.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}
.stats .info .sub-title::before {
    content: "";
    position: absolute;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    top: -8px;
    left: 0;
}
.stats .info .sub-title {
    position: relative;
    width: 269px;
    height: 142px;
    color: #000339;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 45px; /* 128.571% */
}
.stats .info .desc {
    margin-top: 20px;
    width: 309px;
    color: #5a6473;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}
.stats-trend .value {
    color: #000339;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 100% */
    letter-spacing: 0.26px;
}
.stats-trend .icon {
    margin-left: auto;
}
.stats-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}
.stats-trend .separate {
    margin-top: 15px;
    height: 1.3px;
    background-color: #e9e9e9;
}
.stats .avatar-block {
    margin-top: 26px;
    display: flex;
    gap: 16px 14px;
    flex-wrap: wrap;
}
.avatar-block .avatar-group {
    display: flex;
}
.stats .avatar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: -3px;
}
.stats .avatar:first-child {
    margin-left: 0;
}
.stats .row-qty {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
}

.row .qty-item {
    color: #000;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 100% */
}
.row .qty-desc {
    margin-top: 22px;
    color: #7b8087;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* subscipton  */
.subscription {
    margin-top: 90px;
}
.subscription .body {
    position: relative;
    align-items: center;
    padding: 0px 80px;
    display: flex;
    height: 370px;
    border-radius: 20px;
    background: #063183;
}
.subscription .sub-title {
    color: #fff;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px; /* 100% */
}
.subscription .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}
.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    border-radius: 12px;
    background: #fff;
    color: #002366;
    font-size: 13px;
}
.subscription .image {
    position: absolute;
    bottom: 0;
    right: 231px;
}
/* ====footte== */
.footer {
    margin-top: 50px;
    padding: 50px 0 58px;
}
.footer .row {
    display: flex;
}
.footer .row-top {
    gap: 185px;
}
.footer .heading {
    color: #1c1c1d;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer .list {
    margin-top: 42px;
}
.footer .list li {
    margin-top: 18px;
}
.footer .list li a,
.footer .desc {
    color: #7a7a7e;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
}
.footer .desc {
    white-space: normal;
    width: 230px;
    margin-bottom: 40px;
}
.footer .row-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.footer .copyright {
    color: #c2c2c2;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
